name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: compila
      run: gcc filesystemcrud_test.c -o filesystemcrud_test
    - name: executar
      run: ./filesystemcrud_test
